/* Title */
h1.title {
  color: #007AC1;
  font-size:60px;
  font-weight: bold;
}
/* Level 1 header */
h1 {
  color: #007AC1;
  font-weight: bold;
}
/* Level 2 header */
h2 {
  color: #EF3B24;
  font-weight: bold;
}
/* Level 3 header */
h3 {
  color: #EF3B24;
  font-weight: bold;
}
/* Table of contents */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #EF3B24;
    border-color: #337ab7;
}
/* Background highlight */
div.bkgemph { 
  background-color:#e6f0ff; border-radius: 5px; padding: 20px;
}
/* Navigation pills */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #4C6A92;
}